<section id="banner_list_garage">
  <div class="banner_list_garages d-flex justify-content-center align-content-center"
       style="background-image: url('../../../assets/images/téléchargement.jpg');">
    <h1 class="m-auto m-0 fw-bold text-white">Mermoz</h1>
  </div>
</section>
<section class="container d-flex flex-column justify-content-center ">
  <div class="card_titre_de_la_recherche row  m-0 m-auto">
    <p class="py-2 ms-3">Note</p>
  </div>
  <div class="card_garage row  m-0 m-auto  bg-white mb-2">
    <div class="col-md-2 px-2 col-sm-12 py-2 img_garage ">
      <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
    </div>
    <div class="col-md-6 col-sm-12 py-2 card_content_garage ms-md-3 ms-sm-0">
      <h4>Nom Garage</h4>
      <p>Adresse</p>
      <div class="d-flex flex-md-row">
        <div class="my-1">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <span class="fw-bold my-1 ms-3">5.0</span>
        <span class="fw-bold my-1 ms-2">10 avis</span>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
        <span class="fw-semibold ms-2">Heures d'ouverture</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 position-relative">
      <button class="btn_detail_garage">Trouver des annonce</button>
    </div>
  </div>
  <div class="card_garage row  m-0 m-auto  bg-white mb-2">
    <div class="col-md-2 px-2 col-sm-12 py-2 img_garage ">
      <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
    </div>
    <div class="col-md-6 col-sm-12 py-2 card_content_garage ms-md-3 ms-sm-0">
      <h4>Nom Garage</h4>
      <p>Adresse</p>
      <div class="d-flex flex-md-row">
        <div class="my-1">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <span class="fw-bold my-1 ms-3">5.0</span>
        <span class="fw-bold my-1 ms-2">10 avis</span>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
        <span class="fw-semibold ms-2">Heures d'ouverture</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 position-relative">
      <button routerLink="/detaiGarage" class="btn_detail_garage">Trouver des annonce</button>
    </div>
  </div>
  <div class="card_garage row  m-0 m-auto  bg-white mb-2">
    <div class="col-md-2 px-2 col-sm-12 py-2 img_garage ">
      <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
    </div>
    <div class="col-md-6 col-sm-12 py-2 card_content_garage ms-md-3 ms-sm-0">
      <h4>Nom Garage</h4>
      <p>Adresse</p>
      <div class="d-flex flex-md-row">
        <div class="my-1">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <span class="fw-bold my-1 ms-3">5.0</span>
        <span class="fw-bold my-1 ms-2">10 avis</span>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
        <span class="fw-semibold ms-2">Heures d'ouverture</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 position-relative">
      <button class="btn_detail_garage">Trouver des annonce</button>
    </div>
  </div>
</section>
