<div class="sidbar-style" [ngClass]="{'app-sideNav-open':sideNavStatus}">
  <ul class="nav-list mt-4"[ngClass]="{'nav-list-open':sideNavStatus}">
    <li class="nav-list-item">
      <i class="bi bi-speedometer style-icone mx-3"></i>
      <span><a>Accueil</a></span>
    </li>
    <li class="nav-list-item my-4">
      <a href="#" class="mx-auto d-block"> <img class="rounded-circle "  width="100px" height="100" src="assets/images/logo1.PNG"
                                                data-holder-rendered="true"></a>
    </li>
    <li class="nav-list-item">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.7em" height="1.7em" class="mx-3 style-icone"
           preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="#fcb034" d="M4 22q-.825 0-1.412-.587Q2 20.825 2 20V4q0-.825.588-1.413Q3.175 2 4
           2h16q.825 0 1.413.587Q22 3.175 22 4v16q0 .825-.587 1.413Q20.825 22 20 22Zm0-2h16V4H4v16Zm5-6q-.425 0-.712-.288Q8 13.425 8 13t.288-.713Q8.575 12 9 12t.713.287Q10 12.575 10 13t-.287.712Q9.425 14 9 14Zm6 0q-.425 0-.712-.288Q14 13.425 14 13t.288-.713Q14.575 12 15 12t.713.287Q16 12.575 16 13t-.287.712Q15.425 14 15 14ZM5 11.1v6.6q0 .35.225.575q.225.225.575.225h.4q.35 0 .575-.225Q7 18.05 7 17.7v-1.2h10v1.2q0 .35.225.575q.225.225.575.225h.4q.35 0 .575-.225Q19 18.05 19 17.7v-6.6l-1.65-4.8q-.125-.35-.412-.575Q16.65 5.5 16.3 5.5H7.7q-.35 0-.638.225q-.287.225-.412.575Zm2.65-1.6l.7-2h7.3l.7 2ZM4 4v16V4Zm3 10.5v-3h10v3Z"/></svg>
      <span><a routerLink="/userDashboard/userGarage">Gestion des Garages</a></span>
    </li>
    <li class="nav-list-item">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.7em" height="1.7em" class="mx-3 style-icone" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path fill="#fcb034" d="M3 6c0-1.1.9-2 2-2h8l4-4h2v16h-2l-4-4H5a2 2 0 0 1-2-2H1V6h2zm8 9v5H8l-1.67-5H5v-2h8v2h-2z"/></svg>
      <span><a routerLink="/userDashboard/userAnnonce">Gestion des Annonces</a></span>
    </li>
  </ul>
</div>

<div class="display-area p-3" [ngClass]="{'display-aray-reduit':sideNavStatus}">

  <!-- Affichage des gestion des toutes les modules -->
  <router-outlet>

  </router-outlet>

  <!-- Affichage du footer  -->
  <!-- <app-footer></app-footer> -->
</div>
