<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
<main>
  <section id="banner_list_garages">
    <div class="banner_list_offres d-flex ">
        <div class="container d-flex flex-row  bg-danger py-5">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="150" height="100" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path fill="#fcb034" d="M3 6c0-1.1.9-2 2-2h8l4-4h2v16h-2l-4-4H5a2 2 0 0 1-2-2H1V6h2zm8 9v5H8l-1.67-5H5v-2h8v2h-2z"/>
          </svg>
          <p class="text-white fw-semibold fs-3 text-start">Trouver des annonces publiees <br>par d’autres
            professionnels de vehicules</p>
        </div>
    </div>
  </section>
  <section class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
  </section>
  <section id="section_list_offres">
      <div class="container bg-success">
        <div class="card_garage row bg-white">
          <div class="col-md-2 bg-warning col-sm-12 img_garage ">
            <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
          </div>
          <div class="col-md-3 col-sm-12 bg-primary">
            <h4>Nom Garage</h4>
            <p>Adresse</p>
            <div class="d-flex flex-md-row">
              <div class="my-1">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <span class="fw-bold my-1 ms-3">5.0</span>
              <span class="fw-bold my-1 ms-2">10 avis</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
              <span class="fw-semibold ms-2">Heures d'ouverture</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 position-relative bg-secondary">
            <button class="btn_detail_garage">Trouver des annonce</button>
          </div>
          <div class="col-md-3 col-sm-12 position-relative bg-info">
            <button class="btn_detail_garage">Trouver des annonce</button>
          </div>
        </div>
      </div>
  </section>
</main>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js" integrity="sha512-lYMiwcB608+RcqJmP93CMe7b4i9G9QK1RbixsNu4PzMRJMsqr/bUrkXUuFzCNsRUo3IXNUr5hz98lINURv5CNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
<main>
  <section id="banner_list_garage">
    <div class="banner_list_garages d-flex justify-content-center align-content-center"
         style="background-image: url('../../../assets/images/téléchargement.jpg');">
      <h1 class="m-auto m-0 fw-bold text-white">Mermoz</h1>
    </div>
  </section>
  <section class="container d-flex flex-column justify-content-center my-5 ">
    <div class=" container m-0 m-auto">
      <div class="div_bt_esarch w-100" role="group" aria-label="Basic example">
        <button type="button" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="#000054" d="M21 20V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2zM9 18H7v-2h2v2zm0-4H7v-2h2v2zm4 4h-2v-2h2v2zm0-4h-2v-2h2v2zm4 4h-2v-2h2v2zm0-4h-2v-2h2v2zm2-5H5V7h14v2z"/>
          </svg><span>Disponibilite</span>
        </button>
        <button type="button" class="btn mx-1">
          <p>Services</p>
          <select class="">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </button>
        <button type="button" class="btn bg-white btn_selected">
          <p>Evaluation</p>
          <div class="my-1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </button>
      </div>
    </div>

  </section>
  <section class="container d-flex flex-column justify-content-center ">
    <div class="card_titre_de_la_recherche row  m-0 m-auto">
      <p class="py-2 ms-3">Note</p>
    </div>
    <div class="card_garage row  m-0 m-auto  bg-white mb-2">
      <div class="col-md-2 px-2 col-sm-12 py-2 img_garage ">
        <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
      </div>
      <div class="col-md-6 col-sm-12 py-2 card_content_garage ms-md-3 ms-sm-0">
        <h4>Nom Garage</h4>
        <p>Adresse</p>
        <div class="d-flex flex-md-row">
          <div class="my-1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
          <span class="fw-bold my-1 ms-3">5.0</span>
          <span class="fw-bold my-1 ms-2">10 avis</span>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
          <span class="fw-semibold ms-2">Heures d'ouverture</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 position-relative">
        <button class="btn_detail_garage">Trouver des annonce</button>
      </div>
    </div>
    <div class="card_garage row  m-0 m-auto  bg-white mb-2">
      <div class="col-md-2 px-2 col-sm-12 py-2 img_garage ">
        <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
      </div>
      <div class="col-md-6 col-sm-12 py-2 card_content_garage ms-md-3 ms-sm-0">
        <h4>Nom Garage</h4>
        <p>Adresse</p>
        <div class="d-flex flex-md-row">
          <div class="my-1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
          <span class="fw-bold my-1 ms-3">5.0</span>
          <span class="fw-bold my-1 ms-2">10 avis</span>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
          <span class="fw-semibold ms-2">Heures d'ouverture</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 position-relative">
        <button routerLink="/detaiGarage" class="btn_detail_garage">Trouver des annonce</button>
      </div>
    </div>
    <div class="card_garage row  m-0 m-auto  bg-white mb-2">
      <div class="col-md-2 px-2 col-sm-12 py-2 img_garage ">
        <img src="../../../assets/images/banner2.jpg" alt="image du garage" class="img-fluid img_card_garage ms-3"/>
      </div>
      <div class="col-md-6 col-sm-12 py-2 card_content_garage ms-md-3 ms-sm-0">
        <h4>Nom Garage</h4>
        <p>Adresse</p>
        <div class="d-flex flex-md-row">
          <div class="my-1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
          <span class="fw-bold my-1 ms-3">5.0</span>
          <span class="fw-bold my-1 ms-2">10 avis</span>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="#000054" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372s372 166.6 372 372s-166.6 372-372 372z"/><path fill="#000054" d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"/></svg>
          <span class="fw-semibold ms-2">Heures d'ouverture</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 position-relative">
        <button class="btn_detail_garage">Trouver des annonce</button>
      </div>
    </div>
  </section>
</main>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js" integrity="sha512-lYMiwcB608+RcqJmP93CMe7b4i9G9QK1RbixsNu4PzMRJMsqr/bUrkXUuFzCNsRUo3IXNUr5hz98lINURv5CNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
