<div class="container pt-5">
  <h1 class="text-syle mt-5">Liste des garages</h1>
  <p class="text-center text-danger"></p>
  <div class="formulaire-container">
    <hr>
    <div class="div-table-data">
      <table id="listGarage"  class="table ">
        <thead>
        <tr>
          <th scope="col" data-sortable="true">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Adresse</th>
          <th scope="col">Image</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
        </thead>
        <!--<tbody *ngIf="garages">
        <tr *ngFor="let garage of garages">
          <th scope="row">{{garage.id}}</th>
          <td>{{garage.nom}}</td>
          <td>{{garage.description}}</td>
          <td>{{garage.adresse}}</td>
          <td><img src="{{urlImage}}{{garage.image}}" style="width: 50px;height: 50px"></td>
          <td class="style-icone" routerLink="/admin/updateGarage/{{garage.id}}">
            <i class="bi bi-pencil-square"></i>
          </td>
          <td class="style-icone" (click)="delete(garage.id)">
            <i class="bi bi-trash3-fill icone-delete"></i>
          </td>
          <td class="style-icone" (click)="bloquer(garage.id)">
            <i class="bi bi-trash3-fill icone-delete"></i>
          </td>
        </tr>
        </tbody>-->
      </table>
    </div>
  </div>

</div>
