
<div class="formulaire-container">
  <h1 class="text-center text-syle">Creer une Zone</h1>
  <div class="fom-container">
    <div *ngIf="errorMessage">
      <p class="text-center text-danger">{{errorMessage}}</p>
    </div>
    <form [formGroup]="addZone" (ngSubmit)="save()">
      <div class="div-champ-input">
        <div class="test">
          <label class="titre-inpute" for="nom">Le libelle de la zone *</label>
          <input type="text" formControlName="libelle" class="champ-input" id="nom" maxlength="100">
          <div *ngIf="controleSaisie['libelle'].touched && controleSaisie['libelle'].invalid">
            <p *ngIf="controleSaisie['libelle'].errors && controleSaisie['libelle'].errors['required']" class="text-danger">
              * Le champs est obligatoire
            </p>
            <p *ngIf="controleSaisie['libelle'].errors" class="text-danger">
              * Le champs ne doit pas avoir des caracteres speciaux
            </p>

          </div>
        </div>
      </div>
      <div class="style-btn-envoyer my-2">
        <button [disabled]="addZone.invalid" class="save-btn">Enregistrer</button>
      </div>
    </form>
  </div>

</div>
