<nav class="navbar-style">
  <div class="log-and-togle-div">
    <!-- <img src="../../../assets/udblogo.jpeg" class="logo" alt="logo udb"> -->
    <div class="samagarage ms-md-4"><span>SAMA</span><span style="color: #FCB034">GARAGE</span></div>
    <div class="section-togle btn" (click)="navbarTogle()">
      <i class="bi bi-list"></i>
    </div>
  </div>
  <div class="section-profile-user btn" data-bs-toggle="dropdown">
    <i class="bi bi-person-circle"></i>
  </div>
  <ul class="dropdown-menu">
    <li class="text-center px-1">KABA</li>
    <li routerLink="/" class="reglage-style"><i class="bi bi-box-arrow-right" style="color: #FCB034"></i></li>
  </ul>
</nav>

