<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1 class="text-syle">Liste des profiles</h1>
<p class="text-center text-danger" *ngIf="messageError">{{messageError}}</p>
<div class="formulaire-container" *ngIf="zones">
  <div class="button-add-input-search my-4 mx-3">
    <button class="button-add-user">
      <i class="bi bi-plus-circle icone-add-user" routerLink="/ajoutZones"></i>
      <span class="titre-btn-add-user" routerLink="/ajoutZones">Ajouter un profile</span>
    </button>
    <div>
      <input type="search" class="input-search-admin" placeholder="Rechercher un profile">
      <button class="btn-search-admin">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <hr>
  <div class="div-table-data">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle du profile</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="zones">
      <tr *ngFor="let zone of zones">
        <th scope="row">{{zone.id}}</th>
        <td>{{zone.libelle}}</td>
        <td class="style-icone" (click)="delete(zone.id)">
          <i class="bi bi-trash3-fill icone-delete"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
